table,th,td{
    border: 2px solid red;
    border-collapse: collapse;
}
th,td{
    background-color: antiquewhite;
    font-size: larger;
    padding: 0ch;
    


}

table{ 
    border-spacing: 200px;


}
